<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mars.bj.dao.BookMapper">
    <select id="selectAllBook" resultType="com.mars.bj.pojo.Book">
        select   book.*,category.name as cate   from   book   left   join   category     on   book.cid=category.id
    </select>
    <select id="selectBookById" parameterType="Integer" resultType="com.mars.bj.pojo.Book">
        SELECT
            book.*,
            category.NAME AS cate
        FROM
            book
            LEFT JOIN category ON book.cid = category.id
        WHERE
            book.id=#{bookId};
    </select>
    <select id="selectBookByName" parameterType="String" resultType="com.mars.bj.pojo.Book">
        select * from book where title = #{name};
    </select>
    <select id="selectAllCate" resultType="com.mars.bj.pojo.Cate">
        select * from category;
    </select>
    <insert id="insertBook" parameterType="com.mars.bj.pojo.Book">
        insert into book (cover,title,author,date,press,abs,cid)
        values(#{cover} , #{title} , #{author} , #{date} , #{press} , #{abs} , #{cid});
    </insert>
</mapper>